.table {
  border: 1px solid black;
  border-collapse: collapse;
  margin: 20px 0;
}

.thead {
  text-align: center;
  font-weight: 600;
}

.tbody {
  text-align: center;
}

.tr td {
  border: 1px solid black;
}